<div class="login">

    <form class="form" action="">
        <div class="login-text">
            <p>用户登录</p>
        </div>
        <div>
            <table class="use">
                用户名：<input class="form-control" type="text">
            </table>
            <table>
                密&emsp;码：<input class="form-control" type="password">
            </table>
            <input class="btn btn-success" type="submit" value="登录">
        </div>
        <div class="reg">
                <a class="reg r" href="">注册账号>>></a>
            </div>
    </form>

    
</div>