<div class="head">
    <div class="left">
        <a class="logo" href="/index.html">学生信息管理系统</a>
    </div>
    <div class="right">
        <p>欢迎-<%= nickname %>-管理员</p>
        <a href="/users/deletecookie" class="button btn btn-primary btn-sm">退出</a>
    </div>
</div>