<div class="head">
    <div class="left">
        <a class="logo" href="">学生信息管理系统</a>
    </div>
    <div class="right">
        <p>欢迎-xxx-管理员</p>
        <button class="button btn btn-primary btn-sm">退出</button>
    </div>
</div>